// CREATE THE ROTATE ANIMATION
.rotate-animation {
    animation: rotate-animation 2s linear infinite;
}

// CREATE THE ROTATE ANIMATION KEYFRAME
@keyframes rotate-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}